*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar { 
    background: #f36421;
    margin:auto;
    font-family: 'Poppins', sans-serif;
}

.nav-list { 

    align-items: center;
    margin-left: 35%;
    width: 30%;
}

.nav a{
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.nav{
    display: flex;
    justify-content:space-around;
}

.register-content {
    align-items: center;
    margin-top: 10%;
    margin-left: 40%;
    width: 20%;
}

.login-content {
    align-items: center;
    margin-top: 10%;
    margin-left: 40%;
    width: 20%;
}