* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.navbar {
    background: #f36421;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.nav-list {

    align-items: center;
    margin-left: 35%;
    width: 30%;
}

.nav a {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    align-items: center;
}

.register-content {
    align-items: center;
    margin-top: 7%;
    margin-left: 40%;
    width: 20%;
}

.login-content {
    align-items: center;
    margin-top: 10%;
    margin-left: 40%;
    width: 20%;
}

.reset-password-content {
    align-items: center;
    margin-top: 10%;
    margin-left: 40%;
    width: 20%;
}

.form-group-submit {
    margin-top: 20px;
}

button.submit-btn {
    border: none;
    background-color: #f36421;
    cursor: pointer;
    border-radius: 5px;
}

.headline {
    align-items: center;
    justify-content: space-around;
}

.headline h1 {
    align-items: center;
    margin-left: 37.5%;
}

.headline h6 {
    align-items: center;
    margin-left: 44.5%;
}

div.team-pic-aleks {
    width: fit-content;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    position: absolute;
    top: auto;
    left: 20px;

}

div.team-pic-rene {
    width: fit-content;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    position: absolute;
    top: auto;
    right: 16px;
}

div.team-pic-ali {
    width: fit-content;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    position: absolute;
    top: auto;
    right: 40.2%;
}

div.team-pic-andreas {
    width: fit-content;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    position: absolute;
    top: 50%;
    left: 20.5%;
}

div.team-pic-markus {
    width: fit-content;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    position: absolute;
    top: 50%;
    right: 20.5%;
}

.container {
    text-align: center;
    padding: 10px 20px;
}

.responsive {
    float: left;

    padding-bottom: 50px;

}

.responsive h4 {

    text-align: center;
}

.status-container {
    display: grid;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;

}

.btn-container {
    display: block;
    padding: 10px;
    text-align: center;

}

.btn-green {
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    padding-inline: 92px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 10px 10px #888888;

}

.btn-red {
    cursor: pointer;
    font-size: 20px;
    padding-inline: 50px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 10px 10px #888888;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}